asgiref==3.3.4
breadability==0.1.20
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
Django==3.2
docopt==0.6.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
joblib==1.0.1
lxml==4.6.3
moviepy==1.0.3
nltk==3.6.1
numpy==1.20.2
Pillow==8.2.0
proglog==0.1.9
pycountry==20.7.3
pysrt==1.1.2
pytz==2021.1
regex==2021.4.4
requests==2.25.1
sqlparse==0.4.1
sumy==0.8.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
uuid==1.30
youtube-dl==2021.4.7
