
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    width: 80%;
}

.spinner-border{
    display: none;
    padding: 20px;
    font-size: 20px;

}

.alert{

    display: none;
    width: 100%;
}

.form-group{
    width: 300px;
    text-align: center;
}

.btn{
    margin-top: 10px;
}